@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* html {
  font-family: "Times New Roman", Times, serif;
} */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button {
  padding: 0 5px 0 5px;
  /* border: 1px solid red; */
  border-radius: 15px;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
@-webkit-keyframes glow {
  from {
    -webkit-text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    -webkit-text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
@keyframes pulse {
  0% {
    text-shadow: 0 0 0 rgb(201, 31, 31, 1);
  }
  50% {
    text-shadow: 0 0 40px rgb(201, 31, 31, 1);
  }
  100% {
    text-shadow: 0 0 0 rgb(201, 31, 31, 1);
  }
}

.pulsating-text {
  animation: pulse 3s infinite;
}

#slider {
  position: absolute;
  /* width: 100px;
  height: 100px;
  background: blue; */
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}
.her {
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px -10px 16px rgb(255, 59, 134);
}
.her2 {
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 10px 16px rgb(255, 59, 134);
}

.slide-in {
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
}
.slide-in2 {
  z-index: 10000;
  animation: slide-in2 1s forwards;
  -webkit-animation: slide-in2 1s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateY(40%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateY(40%);
  }
}
@keyframes slide-in2 {
  100% {
    transform: translateY(140%);
  }
}

@-webkit-keyframes slide-in2 {
  100% {
    -webkit-transform: translateY(140%);
  }
}

.flipUp {
  animation: flipUp 0.5s forwards;
  -webkit-animation: flipUp 0.5s forwards;
}
.flipUp {
  animation: flipDown 0.5s forwards;
  -webkit-animation: flipDown 0.5s forwards;
}

@keyframes flipUp {
  100% {
    transform: translate(-90deg);
  }
}
@keyframes flipDown {
  100% {
    transform: translate(-180deg);
  }
}
